* {
    margin : 0;
    padding : 0;
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.full-page-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.62)), url("../img/first_page.jpg");
    background-size: cover;
    background-position: center;
}

.intro-text-container {
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}

.row {
    margin : 0;
}

@media only screen and (max-width: 414px) {

    h1 { font-size: 40px; }

}

@media only screen and (max-width: 768px) {

    h1, h3, h4, h5, p { text-align: center;}
}


h1 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 800;
}

h5,h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #3bd9ff;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 120%;
}

#works {
    background-color: #9f9f9f;
}

#works img {
    width: 100%;
    margin: 10px 0;
}

#about-me img{
    width: 190px;
}

.button-container {
    text-align: right;
    padding: 20px;
}

#contact {
    background-color: black;
}

i {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
    cursor: pointer;
    margin: 10px;
}

#contact .row {
    text-align: center;
}

#contact a {
    text-decoration: none;
}

.btn {
    margin-left: 10px;
}